.header {
  padding: 1rem 0;
  background: var(--gray-100);
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;

  span {
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
  }

  button {
    margin-left: 0.5rem;
  }
}
