.container {
  section {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem 1rem;

    h2 {
      margin-bottom: 1rem;
    }
  }

  form {
    margin-top: 2rem;
  }
}

.divider {
  width: calc(100% - 2rem);
  max-width: 1120px;
  height: 1px;
  margin: 0 auto;
  background: var(--gray-300);
}
