.section {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem 1rem 3rem;

  h2 {
    margin-bottom: 1rem;
  }

  form {
    margin-top: 0.5rem;
  }

  a {
    &.center {
      display: block;
      margin: 2rem auto;
      text-align: center;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }

    svg {
      display: block;
      margin: 0 auto;
      font-size: 1.5rem;
    }
  }
}

.options {
  display: flex;
  align-items: center;

  button:nth-child(3) {
    margin-left: auto;
  }
}

.addDonationButton {
  height: 100%;
  margin-left: 1rem;
  border: 0;
  padding: 0.25rem;

  &:hover,
  &:active {
    background: var(--gray-300);
  }

  &:nth-child(3) {
    margin-left: auto;
  }
}

.divider {
  width: calc(100% - 2rem);
  max-width: 1120px;
  height: 1px;
  margin: 0 auto;
  background: var(--gray-300);
}
