.container {
  max-width: 300px;
  text-align: center;
}

.field {
  width: 100%;
  color: var(--black);

  label {
    font-weight: bold;
    white-space: nowrap;
  }

  input[type='text'] {
    margin-top: 0.25rem;
    width: 100%;
  }
}

.button {
  display: block;
  margin: 0.25rem auto 0;
}
