.button {
  height: 100%;
  border: 0;
  background: #ff7070;
  color: var(--white);
  transition: background 0.2s;

  &:active {
    background: #ff2020;
  }

  svg {
    display: flex;
    width: 20px;
    height: 20px;
  }
}
