.header {
  height: 5rem;
  background: var(--gray-100);
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 1rem;
}
