.container {
  max-width: 960px;
  min-height: 660px;
  margin: 0 auto;

  article {
    border: 1px solid var(--gray-300);
    border-radius: 0.25rem;
    transition: background 0.2s;

    & + article {
      margin-top: 2rem;
    }

    &:hover {
      background: rgba($color: #ffdbdb, $alpha: 0.25);
    }
  }

  h3 {
    padding: 0.5rem 1rem;
    background: var(--gray-300);
  }

  table {
    width: calc(100% - 2rem);
    margin: 1rem auto 0;
    border-collapse: collapse;
  }

  td,
  th {
    width: 50%;
    text-align: center;
    padding: 0.1rem;
    border: 1px solid #000;

    span {
      color: var(--gray-300);
    }
  }
}

.links {
  text-align: center;
  margin: 1rem 0;

  a {
    color: #5252ff;
    font-weight: bold;
    transition: color 0.2s;

    &:hover {
      color: #0000ff;
      text-decoration: underline;
    }

    & + a {
      margin-left: 1rem;
    }
  }
}
